Repository PauRoselloInetum/Hire-A-Pro, pull requests merged in 2024-10, with the labels that each got.

#18 Backend
  Backend/HireAProBackend/Controllers/Controlador.cs
  Backend/HireAProBackend/Models/TokenPassReset.cs
  Backend/HireAProBackend/Program.cs
  Backend/HireAProBackend/appsettings.json
  Backend/HireAProBackend/obj/Debug/net8.0/ApiEndpoints.json
  Backend/HireAProBackend/obj/Debug/net8.0/HireAProBackend.AssemblyInfo.cs
  Backend/HireAProBackend/obj/Debug/net8.0/HireAProBackend.AssemblyInfoInputs.cache
  Backend/HireAProBackend/obj/Debug/net8.0/HireAProBackend.GeneratedMSBuildEditorConfig.editorconfig
  Backend/HireAProBackend/obj/Debug/net8.0/HireAProBackend.assets.cache
  Backend/HireAProBackend/obj/Debug/net8.0/apphost.exe
Labels: Backend

#19 Eliminación "Reset Password", validaciones en email forgot y simplificar request
  Angular/src/app/app.component.ts
  Angular/src/app/app.routes.ts
  Angular/src/app/auth.service.ts
  Angular/src/app/components/components.component.html
  Angular/src/app/forgot-password/forgot-password.component.html
  Angular/src/app/forgot-password/forgot-password.component.ts
  Angular/src/app/reset-password/reset-password.component.html
  Angular/src/app/reset-password/reset-password.component.spec.ts
  Angular/src/app/reset-password/reset-password.component.ts
Labels: Frontend

#21 Primera Parte del "Forgot Password"
  Angular/src/app/auth.service.ts
  Angular/src/app/forgot-password/forgot-password.component.html
  Angular/src/app/forgot-password/forgot-password.component.ts
Labels: Frontend

#22 Token recuperación enviada en el body de la request
  Backend/HireAProBackend/Controllers/Controlador.cs
  Backend/HireAProBackend/Models/RegisterRequest.cs
  Backend/HireAProBackend/Models/Usuario.cs
Labels: Backend

#23 Verificación de la cuenta al registrar
  Backend/HireAProBackend/Controllers/Controlador.cs
  Backend/HireAProBackend/Templates/EmailContent.cs
Labels: Backend

#24 Primera Parte del "User Verify" y Segunda Parte del "Forgot Password"
  Angular/src/app/auth.service.ts
  Angular/src/app/register/register.component.ts
  Angular/src/app/verification/verification.component.html
  Angular/src/app/verification/verification.component.ts
  Angular/src/assets/css/auth.css
Labels: Frontend

#25 Cambios en la plantilla de correo de recuperación de contraseña
  Backend/HireAProBackend/Controllers/Controlador.cs
  Backend/HireAProBackend/Models/Usuario.cs
  Backend/HireAProBackend/Templates/EmailContent.cs
Labels: Backend

#26 Verificación de usuarios
  Backend/HireAProBackend/Services/DelUsersService.cs
Labels: Backend

#27 Añadir mas Documentación GIT, Añadir cambios de Roger, Implementación del Verificacion de Usuario
  Angular/src/app/auth.service.ts
  Angular/src/app/login/login.component.ts
  Angular/src/app/register/register.component.html
  Angular/src/app/register/register.component.ts
  README.md
  docs/git/README.md
Labels: documentation, Frontend

#29 Crear httpPOST completeProfile y modificar campos de FireStore 'Usuarios'
  Backend/HireAProBackend/Controllers/Controlador.cs
  Backend/HireAProBackend/Models/CompleteProfileRequest.cs
  Backend/HireAProBackend/Models/Usuario.cs
Labels: Backend

#30 Auth - register/login
  Angular/src/app/auth.service.ts
  Angular/src/app/login/login.component.html
  Angular/src/app/login/login.component.ts
  Angular/src/app/register/register.component.html
Labels: Frontend

#32 Autentificación del login solamente para cuentas verificadas
  Backend/HireAProBackend/Controllers/Controlador.cs
Labels: Backend

#34 Cambiada la conexión de la base de datos y plantilla html
  Backend/HireAProBackend/Controllers/Controlador.cs
  Backend/HireAProBackend/Program.cs
  Backend/HireAProBackend/appsettings.json
  Backend/PlantillasHtml/PlantillaVerificacion7dias.html
Labels: Backend

#36 Verificación cuentas funcional
  Backend/HireAProBackend/Controllers/Controlador.cs
  Backend/HireAProBackend/Models/Usuario.cs
  Backend/HireAProBackend/Program.cs
  Backend/HireAProBackend/Services/DelUsersService.cs
Labels: Backend

#35 Cambiar placeholder user password, variable global para los headers, parch en las validaciones de username y Mejoras en el CSS
  Angular/src/app/auth.service.ts
  Angular/src/app/login/login.component.html
  Angular/src/assets/css/auth.css
Labels: Frontend

#37 Modificadas las templates de correo electrónico
  Backend/HireAProBackend/Templates/EmailContent.cs
Labels: Backend

#38 Arreglar CSS bug & error control in not verify / Implementar la animación loop y arreglar el header en la landing
  Angular/src/app/auth.service.ts
  Angular/src/app/header/header.component.html
  Angular/src/app/landing-page/landing-page.component.html
  Angular/src/assets/css/auth.css
  Angular/src/assets/css/header.css
  Angular/src/assets/css/landing-page.css
Labels: Frontend

#39 Cambiado el codigo de error de 401 a 403
  Backend/HireAProBackend/Controllers/Controlador.cs
Labels: Backend

#40 Servicio HMAC Hash configurado
  Backend/HireAProBackend/Controllers/Controlador.cs
  Backend/HireAProBackend/Program.cs
  Backend/HireAProBackend/Services/HmacShaHash.cs
  Backend/HireAProBackend/Services/IHmacShaHash.cs
  Backend/HireAProBackend/obj/Debug/net8.0/HireAProBackend.AssemblyInfo.cs
Labels: Backend

#41 CSS Change & 2 themes
  Angular/src/app/app.component.ts
  Angular/src/assets/css/auth.css
Labels: Frontend

#42 Funcion ShaHash como servicio
  Backend/HireAProBackend/Controllers/Controlador.cs
  Backend/HireAProBackend/Program.cs
  Backend/HireAProBackend/Services/IShaHash.cs
  Backend/HireAProBackend/Services/ShaHash.cs
Labels: Backend

#43 404 y loading - Cambios de estilos adaptados al auth
  Angular/src/assets/css/404.css
  Angular/src/assets/css/loading.css
Labels: Frontend

#45 Error 403 confirmado
  Backend/HireAProBackend/Controllers/Controlador.cs
Labels: Backend

#46 Cambio en un statuscode
  Backend/HireAProBackend/Controllers/Controlador.cs
Labels: Backend

#48 Inyectar servicio GenTokenReset
  Backend/HireAProBackend/Controllers/Controlador.cs
  Backend/HireAProBackend/Program.cs
  Backend/HireAProBackend/Services/GenTokenReset.cs
  Backend/HireAProBackend/Services/IGenTokenReset.cs
Labels: Backend

#49 Cambiar CSS, fix control error y actualizar documentación GIT
  Angular/src/app/auth.service.ts
  Angular/src/app/landing-page/landing-page.component.html
  Angular/src/app/landing-page/landing-page.component.ts
  Angular/src/assets/css/header.css
  Angular/src/assets/css/landing-page.css
  docs/git/README.md
  docs/img/git_discart.png
  docs/img/git_stage.png
Labels: documentation, Frontend

#50 npm audit fix
  Angular/package-lock.json
Labels: dependencies, Frontend

#51 Creado el sevricio SaveToken
  Backend/HireAProBackend/Controllers/Controlador.cs
  Backend/HireAProBackend/Program.cs
  Backend/HireAProBackend/Services/ISaveToken.cs
  Backend/HireAProBackend/Services/SaveToken.cs
Labels: Backend

#53 Cambiar el color
  Angular/src/styles.css
  hola.txt
Labels: Frontend

#55 Registro
  Angular/src/app/auth.service.ts
  Angular/src/app/register/register.component.html
  Angular/src/app/register/register.component.ts
Labels: Frontend

#59 Actualizar el Workflow
  .github/workflows/eliminar_archivos_no_deseados.yml
  Backend/HireAProBackend/obj/Debug/net8.0/ApiEndpoints.json
  Backend/HireAProBackend/obj/Debug/net8.0/HireAProBackend.AssemblyInfo.cs
  Backend/HireAProBackend/obj/Debug/net8.0/HireAProBackend.AssemblyInfoInputs.cache
  Backend/HireAProBackend/obj/Debug/net8.0/HireAProBackend.GeneratedMSBuildEditorConfig.editorconfig
  Backend/HireAProBackend/obj/Debug/net8.0/HireAProBackend.assets.cache
  Backend/HireAProBackend/obj/Debug/net8.0/apphost.exe
  Backend/HireAProBackend/obj/HireAProBackend.csproj.nuget.dgspec.json
  Backend/HireAProBackend/obj/HireAProBackend.csproj.nuget.g.props
  Backend/HireAProBackend/obj/project.assets.json
  Backend/HireAProBackend/obj/project.nuget.cache
Labels: Github

#60 Actualizar Workflow
  .github/workflows/eliminar_archivos_no_deseados.yml
Labels: Github

#61 Añadir el Docker Compose (mongodb), arreglar test WrongRouteComponent, Mejorar documentación git y eliminar Workflow
  .github/workflows/eliminar_archivos_no_deseados.yml
  Angular/src/app/404/404.component.spec.ts
  Backend/docker-compose.yml
  Backend/enter-docker.ps1
  Backend/start-docker.ps1
  Backend/stop-docker.ps1
  docs/git/README.md
Labels: documentation, Backend, Frontend

#63 Canbio fondo landing page
  Angular/src/styles.css
Labels: Frontend

#65 Mejora de los enlaces en el README
  README.md
Labels: documentation

#64 Añadir mas puntos en la documentación de GIT
  docs/git/README.md
Labels: documentation
